#hide_button {
	cursor: pointer; 
	position: relative; 
	top: 50%;
}

#sb-site {
	box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.3); /* Shadow cast onto the slidebars when opened. */
	padding: 80px 0 30px 0;
}

.sb-toggle-right {
	width: 58px;
	padding: 14px;
	position: absolute;
	right: 0px;
	z-index: 2;
}

.sb-toggle-left, .sb-toggle-right, .sb-open-left, .sb-open-right, .sb-close {
	cursor: pointer;
}

.navicon-line {
	width: 24px;
	height: 4px;
	border-radius: 1px;
	margin-bottom: 3px;
	background-color: #fff;
}

@media (min-width: 768px) {
	ul.navbar-nav {
		display: block;
	}
	
	#logo {
		text-align: left;
	}
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}